html,
body,
#root,
.h100,
#wrapper {
  height: 100%;
}

#wrapper {
  overflow: auto;
}

#header {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  min-height: 80px;
}

#header .logo {
  font-size: 26px;
  font-weight: 500;
  color: #e64614;
  letter-spacing: 1.5px;
  margin: 0;
}

.header-right {
  margin-left: auto;
}

.header-right .username {
  margin-right: 20px;
}

.mr-20 {
  margin-right: 20px;
}

#menu-toggle {
  margin: 0 40px 0 0;
}

.btn-login {
  margin: 0 20px 0 auto;
}

#wrapper {
  display: flex;
  flex-direction: column;
}

#main {
  flex-grow: 1;
}

video {
  display: none;
}

.snapshot-img {
  width: 300px;
  height: 225px;
}

.webcamShot {
  position: relative;
  width: 300px;
  height: 225px;
}

.webcamShot:hover>.webcamShot__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.webcamShot__info {
  display: none;
  position: absolute;
  color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.new-event {
  max-width: 500px;
}

.social-login {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  45% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  45% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.ball-pulse > div:nth-child(1) {
  -webkit-animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}

.ball-pulse > div:nth-child(2) {
  -webkit-animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}

.ball-pulse > div:nth-child(3) {
  -webkit-animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}

.ball-pulse > div {
  background-color: #e64614;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
}

.container {
  max-width: 100% !important;
}


.pulse-button {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  /*background-image: linear-gradient(top, rgb(21, 0, 0), rgb(145, 0, 0));*/
  background-color: green;
  box-shadow: 0 0 0 0 rgb(21, 108, 249);
  -webkit-animation: pulse 2.5s infinite;
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(1);
  }
  90% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(21, 108, 249,0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(21, 108, 249, 0);
  }
}

.feed .item .pulse-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
